.bg-image{
  background-image: url(./Assests/vscode.png) url(./Assests/bulb.png);
  /* background-position: right top, left top; */
  background-repeat: no-repeat;
 /* background-size: 100px 100px; */
}
.bg{
  background-image: url("./Assests/path22.png") url("./Assests/Frame 88.png");
  background-image: url(./Assests/vscode.png) url(./Assests/bulb.png);
  background-position: right top, left top;

  /* background-image: url("./Assests/Frame 88.png"); */
  background-repeat: no-repeat;

}